<div class="">
  <div class="text-center py-2">
      <h2 class="text-2xl text-gray-900 font-semibold">Welcome Back</h2>
      <p class="text-sm text-gray-500">Sign in to continue</p>
  </div>

  <form class="pt-2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="janedoe@gmail.com">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full !pb-0 no-subscript">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword()? 'password' : 'text'" >
          <button
              matIconButton
              matSuffix
              (click)="togglePasswordVisibility($event)"
              type="button"
          >
            <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
  </form>

  <div class="text-right my-1">
    <a class="text-xs text-gray-900 hover:underline hover:cursor-pointer">
      Forgot password
    </a>
  </div>

  <button
      mat-flat-button
      class="w-full h-11 !bg-gray-900 !text-white !rounded-[8px]"
      type="button"
  >
      Sign In
  </button>


  <div class="text-center pt-4">
    <p class="text-sm text-gray-500">Don't have an account? <a class="text-blue-500 hover:underline hover:cursor-pointer">Create one</a></p>
  </div>


</div>
